.Footer-footer-container{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 50px;
}
.Footer-menu{
    min-width: 220px;
    padding: 15px 10px;
    border-radius:50px;
    width:70%;
    background-color:$secondary-color;
    display:flex;
    justify-content: space-around;
}
.Footer-navlink{
    color:$icons-color;
}
.Footer-navlink:hover{
    color:white;
}
.Footer-icon-styles{
    font-size: 1.5rem;
    cursor:pointer;
}
.Footer-icon-active{
    color:white;
}
.Footer-navbar-container{
    position: fixed;
    overflow:hidden;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 60px;
    color:white;
    background-color:$main-color;
    display: flex;
}
.Footer-navbar-item{
    color:white;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    padding: 20px 20px;
    border-radius: 40px;
    transition: background-color 0.5s, color 0.5s;
}
.Footer-navbar-item:hover{
    color:white;
}
.Footer-navbar-item-active{
    background-color:white;
    color:black;
}
.Footer-navbar-item-active:hover{
    color:black;
}