.Login-container {
  margin: 20px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 60vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-image: url("./Assets/Flowers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.Login-auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .Login-container {
    width: 90%;
    margin: auto;
  }
}

@function generate-random-stars($screen-width, $color, $density) {
  $h-shadow: random($screen-width);
  $v-shadow: random($screen-width);

  $stars: "#{$h-shadow}px #{$v-shadow}px #{$color}";
  @for $i from 2 through $density {
    $h-shadow: random($screen-width);
    $v-shadow: random($screen-width);

    $stars: "#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}";
  }
  @return unquote($stars);
}

@mixin stars-content($screen-width, $color, $density, $speed, $delay) {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: generate-random-stars($screen-width, $color, $density);
  animation-name: glowing-stars;
  animation-duration: $speed + s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: $delay + s;
}

//Change colors for multi-colors star groups

#stars-group-1 {
  @include stars-content(1800, #fff, 200, 1, 0);
}

#stars-group-2 {
  @include stars-content(1800, #fff, 200, 1, 0.1);
}

#stars-group-3 {
  @include stars-content(1800, #fff, 200, 1, 0.2);
}

#stars-group-4 {
  @include stars-content(1800, #fff, 200, 1, 0.3);
}

#stars-group-5 {
  @include stars-content(1800, #fff, 200, 1, 0.4);
}

#stars-group-6 {
  @include stars-content(1800, #fff, 200, 1, 0.5);
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
