@import './settings';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body,html {
    background-color: #FFFF; 
    width: 100vw;
    height: 100vh;
}
@media(max-width:$media-query-value) {
    body,html {  
        background-color: $main-color;
    }}
body,
html>div{
    overflow-x:hidden;
}